<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
    <field>
      {{input value=model.firstName placeholder='First Name'}}</br>
      {{input value=model.lastName placeholder='Last Name'}}</br>
      {{input value=model.email placeholder='email'}}</br>
      {{input value=model.twitter placeholder='twitter'}}</br>
     <div>
        <h2>Friend details</h2>
        <p>{{model.firstName}}</p>
        <p>{{model.lastName}}</p>
        <p>{{model.email}}</p>
        <p>{{model.twitter}}</p>
     </div>
    <input type="submit" value="Save"/>
    <button {{action "cancel"}}>Cancel</button>
  </fieldset>
</form>
