<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Articles</th>
    </tr>
  </thead>
  <tbody>
     <h2>Total friends: {{model.length}}</h2>
  {{#each friend in model}}
    <tr>
    <td>{{#link-to "articles" friend}} {{friend.id}} - {{friend.firstName}} {{friend.lastName}} {{/link-to}} </td>

    <td><a href="#" {{action "delete" friend}}>Delete</a></td>
  </tr> 
  {{/each}}
  </tbody>
</table>
